.div-mother-faqs {
  min-height: calc(100vh - 100px); 
  width: 100%;
  margin: 50px 0px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.div-son-faqs {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-self: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.div-content-space-faqs {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 30px;
  text-align: left;
  justify-content: center;
}

.faqs-questions {
  font-family: 'NeuePlakBlack';
  font-size: 16px;
  margin: 30px 0px 0px 0px;
  cursor: pointer;
}

.faqs-questions:hover {
  color: rgba(0, 0, 0, 0.5);
}

.faqs-answers {
  font-size: 10px;
  margin: 0px 0px 10px 10px;
  border-bottom: 1px black solid;
  padding: 5px;
}