
.div-son {
  align-self: center;
  display: flex;
  padding: 100px;
  align-self: center;
  text-align: center;
  background-size: cover;
  border-radius: 6px;
}

.div-content-space {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 400px;
  padding: 30PX;
  text-align: left;
  align-items: center;
  justify-content: space-around;
}
.div-content-space span {
  display: flex;
  flex-direction: column;
  width: 580px;
  text-align: left;
}
.div-content-space-logo {
display: flex;
align-items: center;
flex-direction: column;
}

.social-logos {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 20px;

}

.social-home {
  width: 35px;
  margin: 15px;
  transition: all .2s ease-in-out;
}

.social-home:hover {
  transform: scale(1.2);
}

/* section video */

.video {
  padding: 100px;
  align-self: center;
  border-radius: 6px;
  background-size: cover;
  background-position: 0px;
}

.div-content-space-video {
  height: inherit;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.content-video {
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
}

.content-text-video {
  text-align: left;
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content1 {
  padding: 30px;
  width: 50%;
  align-self: center;
}

/* section reward */

.reward {
  padding: 100px;
  align-self: center;
  border-radius: 6px;
  background-size: cover;
  background-position: 0px;
}

.div-content-space-reward {
  height: inherit;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.content-text-reward {
  text-align: left;
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reward-img {
  padding: 30px;
  width: 50%;
  align-self: center;
}

/* section chose service */

.chose {
  padding: 100px;
  align-self: center;
  border-radius: 6px;
  background-size: cover;
  background-position: 0px;
}

.chose span {
  color: black;
}

.back-chose {
  display: flex;
  justify-content: space-around;
}

.div-content-chose {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 420px;
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.div-img {
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 30px;
}

.chose-img {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  transition: all .2s ease-in-out;
}

.chose-img:hover {
  transform: scale(1.1);
}

.chose-img span {
  font-family: 'NeuePlakBlack';
}

.chose-img img {
  align-self: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.content-text-chose {
  text-align: left;
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}