.div-son {
  align-self: center;
  display: flex;
  padding: 100px;
  align-self: center;
  text-align: center;
  background-size: cover;
  border-radius: 6px;
}

.div-content-space {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 400px;
  padding: 30PX;
  text-align: left;
  align-items: center;
  justify-content: space-around;
}

.div-content-space span {
  display: flex;
  flex-direction: column;
  width: 580px;
  text-align: left;
}

.div-content-space-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-logos {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 20px;

}

.social-home {
  width: 35px;
  margin: 15px;
  transition: all .2s ease-in-out;
}

.social-home:hover {
  transform: scale(1.2);
}

/* section video */

.video {
  padding: 100px;
  align-self: center;
  border-radius: 6px;
  background-size: cover;
  background-position: 0px;
}

.div-content-space-video {
  height: inherit;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.content-video {
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
}

.content-text-video {
  text-align: left;
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content1 {
  padding: 30px;
  width: 50%;
  align-self: center;
}

/* section reward */

.reward {
  padding: 100px;
  align-self: center;
  border-radius: 6px;
  background-size: cover;
  background-position: 0px;
}

.div-content-space-reward {
  height: inherit;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.content-text-reward {
  text-align: left;
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reward-img {
  padding: 30px;
  width: 50%;
  align-self: center;
}

/* section chose service */

.chose {
  padding: 100px;
  align-self: center;
  border-radius: 6px;
  background-size: cover;
  background-position: 0px;
}

.chose span {
  color: black;
}

.back-chose {
  display: flex;
  justify-content: space-around;
}

.div-content-chose {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 420px;
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.div-img {
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 30px;
}

.chose-img {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  transition: all .2s ease-in-out;
}

.chose-img:hover {
  transform: scale(1.1);
}

.chose-img span {
  font-family: 'NeuePlakBlack';
}

.chose-img img {
  align-self: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.content-text-chose {
  text-align: left;
  padding: 30px;
  width: 644px;
  height: 374px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .div-son {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .div-content-space {
    display: flex;
    padding: 0;
    width: 80%;
    height: fit-content;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  h1 {
    font-size: 14px;
  }

  .div-content-space span {
    font-size: 14px;
    width: 100%;
  }

  .home-img {
    width: 90%;
  }

  .button-84 {
    font-size: 12px;
    height: 32px;
    width: min-content;
  }

  .video {
    margin-bottom: 50px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
  }

  .div-content-space-video {
    display: flex;
    padding: 0;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  .content-video {
    width: 360px;
    height: 208px;
  }

  .content-text-video {
    display: flex;
    padding: 0;
    width: 80%;
    height: fit-content;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  .content-text-video span {
    font-size: 14px;
    width: 100%;
  }

  .reward {
    margin-bottom: 50px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
  }

  .div-content-space-reward {
    display: flex;
    padding: 0;
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  .content-text-reward {
    display: flex;
    padding: 0;
    width: 80%;
    height: fit-content;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  .content-text-reward span {
    font-size: 14px;
    width: 100%;
  }

  .reward-img {
    padding: 30px;
    width: 80%;
    align-self: center;
  }


  .chose {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .chose span {
    color: black;
  }

  .back-chose {
    display: flex;
    padding: 0;
    width: 80%;
    height: fit-content;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  .div-content-chose {
    display: flex;
    padding: 0;
    width: 80%;
    height: fit-content;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  .div-img {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  }

  .chose-img {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    transition: all .2s ease-in-out;
  }

  .chose-img1 {
    width: 70px;
  }

  .chose-img2 {
    width: 107px;
  }

  .chose-img3 {
    width: 64px;
  }

  .chose-img:hover {
    transform: scale(1.1);
  }

  .chose-img span {
    font-family: 'NeuePlakBlack';
    font-size: 14px;
  }

  .chose-img img {
    align-self: center;
    color: rgba(0, 0, 0, 0.8);
  }

  .content-text-chose {
    display: flex;
    padding: 0;
    width: 80%;
    height: fit-content;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }

  .content-text-chose span {
    font-size: 14px;
    width: 100%;
  }
}