@font-face {
  font-family: 'NeuePlakRegular';
  src: url('../fonts/Neue-Plak-Regular.ttf');
}

.div-son-rewards {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

.div-cards-rewards {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
}

.div-img {
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.div-rewards {
  margin: 30px 0px;
}

.content-rewards {
  display: flex;
  align-items: center;
  align-self: center;
}

.card-display-reward {
  width: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in-out;
  justify-content: center;
  align-items: center;
}


.card-display:hover {
  transform: scale(1.05);
}

.div-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  padding: 0;
}

.div-ul li {
  font-family: 'NeuePlakRegular';
  font-weight: 600;
  font-size: 14px;
	margin: 0;
	padding: 10px 0 10px 30px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
.pack {
  background-image: url('../images/pack.png');
}
.pick {
  background-image: url('../images/playerpick.png');
}
.totw {
  background-image: url('../images/totwpack.png');
}
.coin {
  background-image: url('../images/coins.webp');
}
.plus {
  background-image: url('../images/plus.png');
}
